@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 30% 95%;
    --foreground: 40 12% 10%;
    --card: 42 25% 92%;
    --card-foreground: 40 12% 10%;
    --popover: 42 25% 92%;
    --popover-foreground: 40 12% 10%;
    --primary: 17 73% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 42 25% 92%;
    --secondary-foreground: 40 12% 10%;
    --muted: 42 25% 92%;
    --muted-foreground: 37 6% 45%;
    --accent: 42 25% 92%;
    --accent-foreground: 40 12% 10%;
    --destructive: 0 60% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 40 15% 81%;
    --input: 40 15% 81%;
    --ring: 17 73% 45%;
    --radius: 0.5rem;

    --good: 152 51% 36%;
    --bad: 0 60% 47%;
    --accent2: 223 64% 53%;
  }

  .dark {
    --background: 30 17% 5%;
    --foreground: 45 15% 89%;
    --card: 30 11% 7%;
    --card-foreground: 45 15% 89%;
    --popover: 30 11% 7%;
    --popover-foreground: 45 15% 89%;
    --primary: 13 79% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 11% 7%;
    --secondary-foreground: 45 15% 89%;
    --muted: 30 11% 7%;
    --muted-foreground: 48 4% 52%;
    --accent: 30 11% 7%;
    --accent-foreground: 45 15% 89%;
    --destructive: 0 69% 61%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 14% 16%;
    --input: 240 14% 16%;
    --ring: 13 79% 57%;

    --good: 153 39% 49%;
    --bad: 0 69% 61%;
    --accent2: 207 29% 59%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Resizable Panels Styling */
[data-panel-resize-handle-enabled] {
  cursor: col-resize;
  position: relative;
}

[data-panel-resize-handle-enabled]:hover::after {
  content: '';
  position: absolute;
  inset: 0;
  background: hsl(var(--primary));
  opacity: 0.2;
}

[data-panel-resize-handle-enabled][data-panel-resize-handle-active]::after {
  content: '';
  position: absolute;
  inset: 0;
  background: hsl(var(--primary));
  opacity: 0.4;
}
